.chinits{
	padding-left: 40%;
	padding-top: 10%;
	color: powder blue;
}

.center{
	padding-top: 10px;
}

.move{
	height:45px;
	width:305px;
	font-size:40px;
}

button{
	 height:75px;
	 width:100px;
	 font-size: 30px;
	 border-radius: 4px;
}

button:hover{
	background-color: blue;
}

body{
	background-color: #1a75ff;
}



